/*
Project Name: Chefville
CSS Author: Navneet
Author Designation: Web Designer
Framework Used: Bootstrap
Organization: Code Brew Labs
*/
@media (max-width: 576px) {
    .services-card-btm img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .terms_page ul {
        padding-left: 15px;
    }

    .facebook-btn {
        margin-bottom: 30px;
    }

    .bannar {
        /*padding: 0vh 0 !important;*/
    }

    .select-address.brdrr-1 {
        border: none;
    }

    .main-pos {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .main-pos .col-md-12.mt-5 {
        margin: 160px 0 150px 0 !important;
    }

    .bannar h1, .bannar h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
    }

    .select-address img {
        /*bottom:8px !important;*/
    }

    .bannar .col-md-2.pl-0 {
        padding-left: 15px !important;
    }

    .image-and-text-block {
        padding: 0px 0 10px 0;
        background-size: 100%;
    }

    .testimonial-wrap {
        margin: 0px;
        padding: 30px;
    }

    .bannar .input-btn input {
        /*width:67%;*/
    }

    .sec-height {
        height: auto;
    }

    .right {
        position: relative;
    }

    .image-and-text-block h3 {
        margin-top: 28px;
        text-align: center;
    }

    .image-and-text-block p {
        text-align: center;
        font-size: 14px;
    }

    .bannar .theme-button.with-background {
        padding: 5px 18px !important;
    }

    .theme-button.with-background.apply_btn {
        padding: 9px 16px !important;
    }

    .small-text-center {
        text-align: center;
    }

    /* .bannar .col-md-4, .bannar .col-md-2 {
        border-bottom: 1px solid #ddd;
        border-right: none;
    } */
    .bannar .input-btn {
        /*margin-top:5px;*/
    }

    .testimonial-wrap .line strong {
        left: 31%;
    }

    .mg-mb {
        margin: 40px 0 20px 0;
    }

    .time-select {
        /*background:transparent;*/
        /*width:120px;*/
        /*padding:5px 0px 10px 0;*/
    }

    header .navbar-brand img {
        height: 30px;
        transition: all .3s ease-in-out 0s;
    }

    header .shrink .navbar-brand img {
        height: 26px;
    }

    .img-pos {
        position: relative;
        right: 0px;
        height: auto;
        width: 100%;
        object-fit: cover;
        top: 0px;
    }

    .input-btn.d-flex .theme-button.with-background {
        background-color: #AA182C;
        color: #FFFFFF;
        position: absolute;
        right: 0px;
        top: 2px;
    }

    .input-btn.d-flex {
        position: relative;
        width: 100%;
        display: inline-block !important;
    }

    .header-setting {
        margin-top: 60px;
    }

    /* .header-image {
        height: 300px;
        object-fit: cover;
    } */
    .story-about-brand {
        padding: 40px 0;
    }

    .story-about-brand h4 {
        color: #2D2A26;
        font-size: 28px;
        margin-bottom: 10px;
    }

    .story-about-brand p {
        font-size: 14px;
        width: 100%;
    }

    .story-about-brand .pt-4.pl-4.pr-4 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    iframe {
        width: 100%;
        max-width: 100%;
    }

    .messagesent-box input {
        border: none;
        width: 80%;
        padding: 8px;
        outline: none;
    }

    .bannar-bottom h5 {
        color: #2D2A26;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0;
        margin-top: 4px;
        margin-bottom: 5px;
    }

    .services-card img {
        max-width: 100% !important;
    }

    .acc-settings {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link,
    .navbar-expand-lg .navbar-nav .menu-item a {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

/*new layout css*/
@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }

    header .navbar {
        background: #fff;
        padding: 0.9rem 1rem;
    }

    .navbar-light .navbar-toggler-icon {
        background: url("../images/bar.svg") no-repeat center;
        background-size: contain;

    }

    .navbar-toggler {
        border: none;
        border-radius: 0;
        background: #fff;
        padding: 0.25rem 0;
    }

    header nav.navbar.shrink {
        padding: 0.6rem 1rem;
    }

    .bannar p {
        font-family: "Gelion";
        font-size: 16px;
        line-height: 21px;
    }

    .bannar {
        padding: 140px 0 30px;
        min-height: 650px;
    }


    .mobile-search-area {
        background: transparent !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .select-address {
        background: #fff;
        border-radius: 2px;
        margin-bottom: 12px;
        padding: 6px 16px;
        height: 50px;
    }

    .select-address input, .select-address select {
        padding: 0 0 0 35px;
        width: 100% !important;
        height: 100%;
    }

    .select-address .time-select {
        padding-left: 45px;
    }

    .select-address img {
        position: absolute;
        right: auto;
        bottom: 14px;
        left: 16px;
    }

    .bannar .input-btn input {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 12px;
        padding: 6px 16px;
        height: 50px;
    }

    .services-section {
        margin-top: 0;
        padding: 25px 0;
    }

    .services-section .services-block {
        background: #FFFFFF;
        padding: 0;
        box-shadow: none;
    }

    .services-section .services-block .row {
        margin: 0 -7px;
    }

    .services-section .services-block .col-6 {
        padding: 0 7px;
    }

}

@media (max-width: 767px) {
    .bannar h1 {
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
    }

}
/*
Project Name: Chefville
CSS Author: Navneet
Author Designation: Web Designer
Framework Used: Bootstrap
Organization: Code Brew Labs
*/
@media (max-width: 576px) {
    .services-card-btm img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .terms_page ul {
        padding-left: 15px;
    }

    .facebook-btn {
        margin-bottom: 30px;
    }

    .bannar {
        /*padding: 0vh 0 !important;*/
    }

    .select-address.brdrr-1 {
        border: none;
    }

    .main-pos {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .main-pos .col-md-12.mt-5 {
        margin: 160px 0 150px 0 !important;
    }

    .bannar h1, .bannar h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
    }

    .select-address img {
        /*bottom:8px !important;*/
    }

    .bannar .col-md-2.pl-0 {
        padding-left: 15px !important;
    }

    .image-and-text-block {
        padding: 0px 0 10px 0;
        background-size: 100%;
    }

    .testimonial-wrap {
        margin: 0px;
        padding: 30px;
    }

    .bannar .input-btn input {
        /*width:67%;*/
    }

    .sec-height {
        height: auto;
    }

    .right {
        position: relative;
    }

    .image-and-text-block h3 {
        margin-top: 28px;
        text-align: center;
    }

    .image-and-text-block p {
        text-align: center;
        font-size: 14px;
    }

    .bannar .theme-button.with-background {
        padding: 5px 18px !important;
    }

    .theme-button.with-background.apply_btn {
        padding: 9px 16px !important;
    }

    .small-text-center {
        text-align: center;
    }

    /* .bannar .col-md-4, .bannar .col-md-2 {
        border-bottom: 1px solid #ddd;
        border-right: none;
    } */
    .bannar .input-btn {
        /*margin-top:5px;*/
    }

    .testimonial-wrap .line strong {
        left: 31%;
    }

    .mg-mb {
        margin: 40px 0 20px 0;
    }

    .time-select {
        /*background:transparent;*/
        /*width:120px;*/
        /*padding:5px 0px 10px 0;*/
    }

    header .navbar-brand img {
        height: 30px;
        transition: all .3s ease-in-out 0s;
    }

    header .shrink .navbar-brand img {
        height: 26px;
    }

    .img-pos {
        position: relative;
        right: 0px;
        height: auto;
        width: 100%;
        object-fit: cover;
        top: 0px;
    }

    .input-btn.d-flex .theme-button.with-background {
        background-color: #AA182C;
        color: #FFFFFF;
        position: absolute;
        right: 0px;
        top: 2px;
    }

    .input-btn.d-flex {
        position: relative;
        width: 100%;
        display: inline-block !important;
    }

    .header-setting {
        margin-top: 60px;
    }

    /* .header-image {
        height: 300px;
        object-fit: cover;
    } */
    .story-about-brand {
        padding: 40px 0;
    }

    .story-about-brand h4 {
        color: #2D2A26;
        font-size: 28px;
        margin-bottom: 10px;
    }

    .story-about-brand p {
        font-size: 14px;
        width: 100%;
    }

    .story-about-brand .pt-4.pl-4.pr-4 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    iframe {
        width: 100%;
        max-width: 100%;
    }

    .messagesent-box input {
        border: none;
        width: 80%;
        padding: 8px;
        outline: none;
    }

    .bannar-bottom .services-card span {
        display: block;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height:17px;
        letter-spacing: 0.05em;
        color: #98989A;
        opacity: 1;
    }

    .bannar-bottom h5 {
        color: #272523;
        font-size: 18px;
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 5px;
        letter-spacing: 0.01em;
        line-height: 22px;
    }

    .services-card img {
        max-width: 100% !important;
    }

    .acc-settings {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link,
    .navbar-expand-lg .navbar-nav .menu-item a {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

/*new layout css*/
@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    .navbar-nav .menu-item {
        display: block;
        width: 100%;
        padding: 8px 10px;
    }
    .navbar-nav .menu-item:not(:last-child){
        border-bottom: 1px solid #ddd;
    }
    .navbar-nav .dropdown-menu {
         background: #ffffff;
    }
    .navbar-nav .dropdown-menu .menu-item {
        padding: 8px 10px;
    }
    .section-heading h3 {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.02em;
        color: #272523;
    }
    .common-section{
        padding: 30px 0;
    }

    header .navbar {
        background: #fff;
        padding: 0.9rem 1rem;
    }

    .navbar-light .navbar-toggler-icon {
        background: url("../images/bar.svg") no-repeat center;
        background-size: contain;

    }

    .navbar-toggler {
        border: none;
        border-radius: 0;
        background: #fff;
        padding: 0.25rem 0;
    }

    header nav.navbar.shrink {
        padding: 0.6rem 1rem;
    }

    .bannar p {
        font-family: "Gelion";
        font-size: 16px;
        line-height: 21px;
    }

    .bannar {
        padding: 140px 0 30px;
        min-height: 650px;
    }


    .mobile-search-area {
        background: transparent !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .select-address {
        background: #fff;
        border-radius: 2px;
        margin-bottom: 12px;
        padding: 6px 16px;
        height: 50px;
    }

    .select-address input, .select-address select {
        padding: 0 0 0 35px;
        width: 100% !important;
        height: 100%;
    }

    .select-address .time-select {
        padding-left: 45px;
    }

    .select-address img {
        position: absolute;
        right: auto;
        bottom: 14px;
        left: 16px;
    }

    .bannar .input-btn input {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 12px;
        padding: 6px 16px;
        height: 50px;
    }



    .services-section {
        margin-top: 0;
        padding: 25px 0;
    }

    .services-section .services-block {
        background: #FFFFFF;
        padding: 0;
        box-shadow: none;
    }

    .services-section .services-block .row {
        margin: 0 -7px;
    }

    .services-section .services-block .col-6 {
        padding: 0 7px;
    }

}

@media (max-width: 767px) {
    .bannar h1 {
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
    }

}
